.container {
  overflow-x: auto;
  padding: 10px;
  width: 400px;
}

.scrollContainer {
  display: flex;
  flex-direction: row;
}

.item {
  display: inline-block;
  margin: 8px;
  text-align: center;
}

.image {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemsContainer img {
  height: 80px;
  width: 80px;
}

.items-wrapper__title {
  text-align: center;
}

.billsSection{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 15.5px;
}

.gridAnchor{
  display: block;
}

.gridItemContainer{
  position: relative;
}

.gridImage{
  width: 104px;
  height: 104px;
}

